#localhero-widget {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    float: left;
    font: 14px/1.618 "Helvetica Neue", Helvetica, sans-serif;
    width: 298px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    z-index: 99;
    background-color: #eeeebb;
    border: 1px solid #CCCCCC;
}

#localhero-widget .localhero-header {
    background-color: #16a086;
    padding: 10px;
    height: 40px;
    box-shadow: 0 2px 5px #888888;
}

#localhero-widget .localhero-subtitle {
    color: #999;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

#localhero-widget div.widget-section {
    margin: 0;
    border-width: 0;
    padding: 10px;
}

#localhero-widget img {
    width: 100%;
}

#localhero-widget h3 {
    margin: 0;
    font: 20px "Helvetica", sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 5px;
    line-height: 23px;
}

#localhero-widget h3 a {
    color: #fff;
}

#localhero-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#localhero-widget a {
    text-decoration: none;
    color: #16a086;
}

#localhero-widget a:hover {
    text-decoration: none;
}

#localhero-widget input.text {
    width: 270px;
    float: left;
    color: #999;
    background-color: #fff;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    transition: box-shadow 0.3s;
}

#localhero-widget input.text:focus {
    box-shadow: 0 2px 5px #888888;
}

#localhero-widget .search-icon {
    position: absolute;
    width: 20px;
    margin-top: 3px;
    height: 20px;
    margin-left: 255px;
}

#localhero-widget #ownlocal-business-list {
    line-height: 17px;
}

#localhero-widget #ownlocal-search-form {
    height: 28px;
}

#localhero-widget #ownlocal-dropdown {
    height: 33px;
}

#localhero-widget #ownlocal-add-business-link {
    line-height: 20px;
}

#localhero-widget #ownlocal-business-list-template {
    display: none;
}

#localhero-widget .ownlocal-business-link {
    display: block;
    padding: 10px 0 10px 10px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

#localhero-widget .businesses-container span {
    padding: 10px 0 0 10px;
}

#localhero-widget .ownlocal-business-link:hover {
    background-color: rgba(22, 160, 134, 0.1);
    text-decoration: none;
}

#localhero-widget .ownlocal-business-popup-info {
    position: absolute;
    left: 130px;
    top: -20px;
    background-color: #fcfcfc;
    color: #999;
    width: 275px;
    display: none;
    z-index: 2;
    line-height: 0;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 3px;
}

#localhero-widget .ownlocal-business-popup-info a:not(.customer-site) {
    color: #16a086;
}

#localhero-widget .ownlocal-business-popup-info a:hover {
    text-decoration: none;
}

#localhero-widget .ownlocal-business-popup-info h4 {
    padding-top: 15px;
    padding-left: 15px;
    font: 18px "Helvetica", sans-serif;
    font-weight: 200;
    margin: 0;
}

#localhero-widget .customer-site {
    color: #fff;
    background-color: #16a086;
    border: 0;
    width: 100px;
    float: right;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 15px;
    box-shadow: 0 1px 2px #888888;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

#localhero-widget .customer-site:hover {
    background-color: rgba(22, 160, 134, 0.85);
}

#localhero-widget .ownlocal-business-popup-info p {
    font: 13px "Helvetica", sans-serif;
    font-weight: 500;
    width: 100%;
    float: left;
}

#localhero-widget .biz-address {
    display: inline-block;
    float: left;
    margin-left: 15px;
    width: 40%;
}

#localhero-widget .ownlocal-business-popup-info img {
    display: block;
    margin: auto;
    width: 275px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#localhero-widget #ownlocal-business-list li {
    position: relative;
    font-weight: 200;
}

#localhero-widget li:hover .ownlocal-business-popup-info {
    display: block;
}

#localhero-widget .add-your-business li {
    padding: 10px 0 10px 10px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    line-height: 17px;
}

#localhero-widget .add-your-business li:hover {
    background-color: rgba(244, 67, 54, 0.1);
}

#localhero-widget .add-your-business a {
    color: #F44336;
    font-weight: 200;
    text-decoration: none;
}

#localhero-widget #ownlocal-dropdown .dropdown-container {
    position: relative;
    display: block;
    height: 42px;
    width: 280px;
    overflow: hidden;
    margin-top: 10px;
}

#localhero-widget #ownlocal-dropdown .dropdown-container.active {
    overflow: visible;
    z-index: 100000000;
}

#localhero-widget #ownlocal-dropdown ul {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #FFF;
    width: 268px;
    box-shadow: 0 1px 2px #888;
    margin-left: 10px;
}

#localhero-widget #ownlocal-dropdown .dropdown-button {
    text-align: center;
    height: 42px;
    background-color: #16a086;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 300;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

#localhero-widget #ownlocal-dropdown .dropdown-button:hover {
    background-color: rgba(22, 160, 134, 0.85);
}

#localhero-widget #ownlocal-dropdown .dropdown-button a {
    position: relative;
    padding-top: 10px;
    vertical-align: middle;
    color: #fff;
    display: block;
    cursor: pointer;
}

#localhero-widget #ownlocal-dropdown .dropdown-button a:hover {
    text-decoration: none;
}

#localhero-widget #ownlocal-dropdown .dropdown-button a:after {
    content: "▼";
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 10px;
}

#localhero-widget #ownlocal-dropdown li {
    background: #fcfcfc;
    color: #999;
    padding: 10px 0 10px 10px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

#localhero-widget #ownlocal-dropdown li:hover {
    background-color: rgba(22, 160, 134, 0.1);
}

#localhero-widget #ownlocal-dropdown a {
    display: block;
    color: #16a086;
}

#localhero-widget #ownlocal-dropdown a:hover {
    text-decoration: none;
}