/* MAIN MENU
--------------------------------------------------------------------------*/

#superfish-1 #menu-2339-1 {
    background-color: black !important;
}

#superfish-1 #menu-1284-1 {
    background-color: red !important;
}

#superfish-1 #menu-2340-1 {
    background-color: green !important;
}

#superfish-1 #menu-2302-1 {
    background-color: orange !important;
}

#superfish-1 #menu-1285-1 {
    background-color: blue !important;
}

/* FRONT PAGE BLOCKS
--------------------------------------------------------------------------*/

#block-views-top-news-stories-block .title a {
    color: red;
}

#block-views-business-top-stories-block .title a {
    color: green;
}

#block-views-lifestyle-top-stories-block .title a {
    color: orange;
}

#block-views-sports-top-stories-block .title a {
    color: blue;
}
