body{}

#page-wrapper,

.region-bottom{margin-left:auto;margin-right:auto;width:1030px;}

#page{}

#header{}

#header .section{}

.region-header{}

#main-wrapper{position:relative;}

#main{}

#content,

.no-sidebars #content{float:left;width:1030px;margin-left:0;margin-right:-1030px;padding:0;}

.sidebar-first #content{width:760px;margin-left:200px;margin-right:-1030px;}

.sidebar-second #content{width:760px;margin-left:0;margin-right:-1030px;}

.two-sidebars #content{width:540px;margin-left:180px;margin-right:-1030px;}

#content .section{margin:0;padding:10px;}

#navigation{float:left;width:100%;margin-left:0;margin-right:-100%;padding:0;height:3em;}

.with-navigation #content,

.with-navigation .region-sidebar-first,

.with-navigation .region-sidebar-second{margin-top:3em;}

#navigation .section{}

.region-sidebar-first{float:left;width:200px;margin-left:0;margin-right:-200px;padding:0;}

.region-sidebar-first .section{margin:0 20px 0 0;padding:0;}

.region-sidebar-second{float:left;width:300px;margin-left:760px;margin-right:-1030px;padding:0;}

.region-sidebar-second .section{margin:0 0 0 20px;padding:0;}

.region-footer{}

.region-bottom{}

#header,

#content,

#navigation,

.region-sidebar-first,

.region-sidebar-second,

.region-footer,

.region-bottom{overflow:visible;word-wrap:break-word;}