/* for header ad */
header {
  display: flex;
  flex-wrap: nowrap;
}

.region-header {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 959px) {

  .region-user-menu {
    justify-content: center;
    margin-bottom: 0;
    background-color: #7D8AB7;
    height: 27px;
  }

  #user-menu ul.menu li a {
    line-height: 26px;
    font-weight: bold;
  }

  #block-search-form {
    padding: 0;
    flex-grow: unset;
    position: relative;
    top: 0;
    right: 0;
    z-index: 999;
    margin-right: 6px;
    #search-block-form {
      margin-top: 0;
      background: 0;
      line-height: 23px;
      float: none;
      .container-inline {
        display: flex;
        .form-text {
          top: 0;
          height: 19px;
          font-family: Lato, sans-serif;
        }
        .form-submit {
          width: auto;
          height: auto;
          font-size: 11px;
          padding: 0;
          font-weight: bold;
          line-height: initial;
          font-family: Lato, sans-serif;
          position: relative;
          top: -1px;
        }
        .form-type-textfield {
          margin-right: 6px;
        }
      }
    }
  }

  /* Search */
  #main-menu ul.menu li#menu-3554-1 {
    a {
      width: 17px;
      background: #7D8AB7 url(../all/themes/cni/images/search-icon.png) center/contain no-repeat;
      margin: 6px;
      height: 20px !important;
      span {
        display: none;
      }
      &:hover {
        background: #7D8AB7 url(../all/themes/cni/images/search-icon.png) center/contain no-repeat;
      }
    }
  }

}

@media only screen and (max-width: 958px) {

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .region-user-menu {
    justify-content: space-between;
    background-color: #7D8AB7;
    height: 36px;
    margin-bottom: 0;
  }

  #mobile-menu-wrapper {
    background-color:#7D8AB7;
    margin-right: 4px;
  }

  #mobile-menu-control {
    background: #7D8AB7 url(../all/themes/cni/images/hamburger-menu.png) 3px no-repeat;
  }

  #main-menu ul.menu li#menu-3554-1 {
    display: none;
  }

  #search-control {
    background: #7D8AB7 url(../all/themes/cni/images/search-icon.png)3px 3px/contain no-repeat!important;
  }

  #block-search-form {
    flex-grow: 1;
  }

}