/* for header ad */
header {
  display: flex;
  flex-wrap: nowrap;
}

.region-header {
  display: flex;
  align-items: center;
}

.region-user-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  background-color: #7D8AB7;
  height: 27px;
}

#user-menu ul.menu li a {
  line-height: 26px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {

  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .region-user-menu {
    display: flex;
    justify-content: space-between;
    height: 38px;
  }

  #user-menu ul.menu li a {
    line-height: 36px;
  }

}