/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.site-logo img {
    width: 100%;
    max-width: 700px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/


/* Google DFP Ads
--------------------------------------------------------------------------*/

/* hide info on webforms */
article.node-webform .node-content-wrapper .submitted span {
    display: none;
}

article.node-webform .node-content-wrapper h1.title {
    margin-bottom: 0;
}

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* dfp ads */
    #block-dfp-acadia-banner2 {
        width: 468px;
        margin: 0 auto 0 70px;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* dfp ads */
    #block-dfp-acadia-banner2 {
        width: 468px;
        margin: 0;
    }

}

@media only screen and (max-width: 767px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-acadia-leaderboard, #block-dfp-acadia-banner2 {
        display: none;
        visibility: hidden;
    }

}

@media only screen and (min-width: 768px) {

    /* Hide larger DFP ads on non full-size browsers */
    #block-dfp-acadia-leaderboard, #block-dfp-acadia-banner2 {
        display: block;
        visibility: visible;
    }

}
