/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}

.site-logo img {
    width: 100%;
    max-width: 700px;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-415 {
	text-align:center;
}

#block-simpleads-ad-groups-415 img {
	max-width:100%;
}

#block-simpleads-ad-groups-416 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-416 img {
	max-width:100%;
}

#block-simpleads-ad-groups-417 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-417 img {
	max-width:100%;
}

#block-simpleads-ad-groups-418 {
	text-align:center;
}

#block-simpleads-ad-groups-418 img {
	max-width:100%;
}

#block-simpleads-ad-groups-419 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-419 img {
	max-width:100%;
}

#block-simpleads-ad-groups-420 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-420 img {
	max-width:100%;
}

#block-simpleads-ad-groups-421 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-421 img {
	max-width:100%;
}

#block-simpleads-ad-groups-422 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-422 img {
	max-width:100%;
}

#block-simpleads-ad-groups-437 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-437 img {
	max-width:100%;
}

#block-simpleads-ad-groups-438 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-438 img {
	max-width:100%;
}

#block-simpleads-ad-groups-439 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-439 img {
	max-width:100%;
}



/* Google DFP Ads
--------------------------------------------------------------------------*/

#block-dfp-tpa-northsidebar {
	margin-bottom: 10px;
}	

#block-dfp-tpa-northsidebar .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-dfp-tpa-northleaderboard {
	text-align:center;
	margin-top: 5px;
}
