/* LOGO
--------------------------------------------------------------------------*/
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 2262px;
}

.site-logo img {
    width: 100%;
    max-width: 2262px;
}

/* MAIN MENU
--------------------------------------------------------------------------*/

#superfish-1 #menu-2339-1 {
    background-color: black;
}

#superfish-1 #menu-1284-1 {
    background-color: red;
}

#superfish-1 #menu-2340-1 {
    background-color: green;
}

#superfish-1 #menu-2302-1 {
    background-color: orange;
}

#superfish-1 #menu-1285-1 {
    background-color: blue;
}

/* FRONT PAGE BLOCKS
--------------------------------------------------------------------------*/

#block-views-top-news-stories-block a, #block-views-top-news-stories-block .content {
    color: red;
}

#block-views-business-top-stories-block a, #block-views-business-top-stories-block .content {
    color: green;
}

#block-views-lifestyle-top-stories-block a, #block-views-lifestyle-top-stories-block .content {
    color: orange;
}

#block-views-sports-top-stories-block a, #block-views-sports-top-stories-block .content {
    color: blue;
}
/* SIMPLE ADS
--------------------------------------------------------------------------*/

#block-simpleads-ad-groups-415 {
	text-align:center;
}

#block-simpleads-ad-groups-415 img {
	max-width:100%;
}

#block-simpleads-ad-groups-416 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-416 img {
	max-width:100%;
}

#block-simpleads-ad-groups-417 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-417 img {
	max-width:100%;
}

#block-simpleads-ad-groups-418 {
	text-align:center;
}

#block-simpleads-ad-groups-418 img {
	max-width:100%;
}

#block-simpleads-ad-groups-419 .block-inner {
    padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-419 img {
	max-width:100%;
}

#block-simpleads-ad-groups-420 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-420 img {
	max-width:100%;
}

#block-simpleads-ad-groups-421 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-421 img {
	max-width:100%;
}

#block-simpleads-ad-groups-422 .block-inner {
    padding: 0;
	margin: 0;
	border-style: none;
    border-width: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-422 img {
	max-width:100%;
}

#block-simpleads-ad-groups-437 {
	text-align:center;
	margin-top: 5px;
}

#block-simpleads-ad-groups-437 img {
	max-width:100%;
}

#block-simpleads-ad-groups-438 .block-inner {
    padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-438 img {
	max-width:100%;
}

#block-simpleads-ad-groups-439 .block-inner {
    padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

#block-simpleads-ad-groups-439 img {
	max-width:100%;
}


/* Google DFP Ads
--------------------------------------------------------------------------*/

#block-dfp-tpa-northsidebar {
    margin-bottom: 10px;
}

#block-dfp-tpa-northsidebar .block-inner {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
}

#block-dfp-tpa-northleaderboard {
    text-align:center;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {

 #block-dfp-tpa-northleaderboard {
     display: none;
     visibility: hidden;
 }

}