/* wider screens */
@media only screen and (min-width: 959px) {

    /* main menu */
    #main-menu .content {
        width: 100%;
    }

    #main-menu #block-superfish-1 ul.menu {
        max-width: 960px;
        white-space: nowrap;
    }

    #main-menu ul.menu li, .sf-menu.sf-style-space {
        float: none;
    }

    #main-menu ul.menu li ul {
        top: 33px;
    }

    #main-menu ul.menu li a, #main-menu ul.menu li li a {
        padding: 0 8px;
    }

    #main-menu #block-superfish-1 ul #menu-1797-1 {
        display: none;
    }

    /* drop-down menu */
    .sf-menu.sf-style-space.sf-navbar li ul {
        background-color: transparent;
    }

    #main-menu ul.menu li ul {
        background: #cccccc none repeat scroll 0% 0%;
        width: inherit;
    }

    #main-menu ul.menu li ul li {
        background-color: #cccccc;
        width: 100%;
    }

    #main-menu ul.menu li li a {
        padding: 0 8px;
        color: #ffffff;
    }

    #main-menu ul.menu li li a.active {
        color: #000000;
    }

    #main-menu ul.menu li ul li a:hover,
    #main-menu ul.menu li li a:hover,
    #main-menu ul.menu li ul li a.active:hover {
        background-color: #f3f1f1;
    }

    #main-menu #block-system-user-menu ul.menu {
        margin: 0 auto;
        white-space: nowrap;
    }

    .page-node.not-logged-in .content .node-content-wrapper {
        margin-top: -13px;
    }

    /* footer */
    .postscript-wrapper {
        margin-right: 10px;
    }

    .container_12 #postscript .grid_4 {
        width: inherit;
    }

}

/* desktop browsers */
@media only screen and (max-width: 958px) and (min-width: 768px) {

    /* main menu */
    #main-menu .content {
        width: 100%;
    }

    #block-superfish-1 ul #menu-1797-1 {
        display: none;
    }

    #block-superfish-1 ul.menu {
        margin: 0 auto;
        white-space: nowrap;
    }

    #main-menu ul.menu li, .sf-menu.sf-style-space {
        float: none;
    }

    #main-menu ul.menu li a, #main-menu ul.menu li li a, #main-menu ul.menu li li a.active {
        padding: 0 7px;
        font-size: 13px;
    }

    #main-menu ul.menu li ul {
        top: 33px;
    }

    /* drop-down menu */
    .sf-menu.sf-style-space.sf-navbar li ul {
        background-color: transparent;
    }

    #main-menu ul.menu li ul {
        background: #cccccc none repeat scroll 0% 0%;
        width: inherit;
    }

    #main-menu ul.menu li ul li {
        background-color: #cccccc;
        width: 100%;
    }

    #main-menu ul.menu li li a {
        padding: 0 10px;
        color: #ffffff;
    }

    #main-menu ul.menu li li a.active {
        color: #000000;
    }

    #main-menu ul.menu li ul li a:hover,
    #main-menu ul.menu li li a:hover,
    #main-menu ul.menu li ul li a.active:hover {
        background-color: #eaeaea;
    }

    /* other */
    .page-node.not-logged-in .field-name-field-image img {
        width: auto;
        height: auto;
    }

    .page-node.not-logged-in .content .node-content-wrapper {
        margin-top: -13px;
    }

    .page-node .field-name-field-video iframe {
        width: 490px;
        height: 300px;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 240px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 452px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 410px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        width: 410px;
        top: 130px;
        font-size: 11px;
    }

    #views_slideshow_cycle_main_slideshow-block {
        margin-left: 20px;
        margin-top: 20px;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 54px;
        height: 35px;
    }

    .views-slideshow-controls-bottom {
        margin-top: 44px;
    }

    /* Video Featured */
    .view-featured-view iframe {
        width: 195px;
        height: 120px;
    }

    /* footer */
    .postscript-wrapper {
        margin-right: 10px;
    }

}

/* smaller browsers, tablets */
@media only screen and (max-width: 767px) and (min-width: 480px) {

    .node-teaser .field-name-field-image img {
        float: none;
        margin: 0 0 20px 0;
    }

    .node-teaser .node-content-wrapper {
        margin-left: 0px;
    }

    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 240px;
        height: 160px;
        margin: 0 0 20px 0;
    }

    .page-node .field-name-field-video iframe {
        width: 300px;
        height: 200px;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 200px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 379px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 339px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 53px;
        height: 33px;
        margin-right: 4px;
        margin-left: 4px;
    }

    #views_slideshow_cycle_main_slideshow-block {
        margin-left: 20px;
        margin-top: 20px;
    }

    .views-slideshow-controls-bottom {
        margin-top: 34px;
    }

    /* FOOTER */
    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        margin-bottom: 10px;
        background: none;
    }

    /* weather block */
    #block-block-1 .block-inner {
        border: none;
        box-shadow: none;
    }

    /* hide large dfp ads */
    .region-content-bottom .block-dfp, .region-main-menu-second-level .block-dfp {
        display: none;
        visibility: hidden;
    }

}

/* larger phones */
@media only screen and (max-width: 479px) and (min-width: 421px) {

    .region-headerad {
        float: left;
        margin: 0.2em 0 1em 5em;
    }

    .node-teaser .field-name-field-image img {
        float: left;
        margin: 0 20px 0 0;
    }

    .video .node-teaser .node-content-wrapper {
        margin-left: 0px;
    }

    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 360px;
        height: 220px;
        margin: 0 0 20px 0;
    }

    .page-node .field-name-field-video iframe {
        width: 418px;
        height: 300px;
    }

    /* SLIDESHOW
    --------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 160px;
        margin: 14px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 270px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 230px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 22px;
        height: 15px;
        margin-left: 9px;
    }

    /* FOOTER */
    #postscript .grid_4 {
        margin-left: 1em;
    }

    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        background: none;
    }

    /* weather block */
    #block-block-35 .block-inner {
        border: none;
        box-shadow: none;
    }

    /* hide large dfp ads */
    .region-content-bottom .block-dfp, .region-main-menu-second-level .block-dfp {
        display: none;
        visibility: hidden;
    }

    .submitted {
        clear: both;
        margin-left: 0;
    }

}

/* smaller phones */
@media only screen and (max-width: 420px) {

    .region-headerad {
        float: left;
        margin: 0.2em 0 1em 1em;
    }

    .node-teaser .field-name-field-image img {
        float: left;
        margin: 0 20px 0 0;
    }

    .video .node-teaser .node-content-wrapper {
        margin-left: 0;
    }

    .node-teaser .field-name-field-video iframe {
        float: none;
        width: 360px;
        height: 220px;
        margin: 0 0 20px 0;
    }

    .page-node .field-name-field-video iframe {
        width: 418px;
        height: 300px;
    }

    /* SLIDESHOW
--------------------------------------------------------------------------*/
    .view-slideshow .views_slideshow_main {
        height: 160px;
        margin: 14px;
    }

    .view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
        width: 270px;
        height: auto;
    }

    .view-slideshow .views_slideshow_main .views-field-title {
        width: 230px;
    }

    .view-slideshow .views_slideshow_main .views-field-body {
        display: none;
    }

    /* Slideshow controls */
    .view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
        width: 26px;
        height: 17px;
        margin-left: 6px;
    }

    /* FOOTER */
    .postscript-wrapper {
        padding: 1em;
        margin: 0;
        border-top: 0;
    }

    .postscript-wrapper h3 {
        margin-left: 0;
        background: none;
    }

    /* weather block */
    #block-block-1 .block-inner {
        border: none;
        box-shadow: none;
    }

    /* hide large dfp ads */
    .region-content-bottom .block-dfp, .region-main-menu-second-level .block-dfp, .region-slideshow .block-dfp {
        display: none;
        visibility: hidden;
    }

    .submitted {
        clear: both;
        margin-left: 0;
    }

    /* restrict width */
    #edit-search-block-form--2 {
        width: 80px;
    }

}

/* less granular switch for big and small */
@media only screen and (max-width: 767px) {

    #page, .front .main-content-wrapper {
        margin-top: 0;
    }

    #postscript {
        flex-wrap: wrap;
    }

    /* add space after menu */
    #postscript .grid_4 #block-etype-follow {
        margin-top: 1em;
    }

    /* hide menus, see scripts.js */
    #block-superfish-1, #block-system-user-menu {
        display: none;
        visibility: hidden;
    }

    .region-user-menu {
        padding-bottom: 3px;
        width: 100%;
        position: relative;
    }

    ul.social-links {
        float: right;
    }

    /* combined menu */
    #mobile-menu-wrapper {
        background-color: #f3f1f1;
        display: flex;
        justify-content: space-between;
    }

    #mobile-menu-control {
        height: 36px;
        min-width: 36px;
        background: #f3f1f1 url(../images/hamburger-menu.png) 3px no-repeat;
        cursor: pointer;
    }

    #user-menu ul.menu {
        display: block;
    }

    #user-menu ul#mobile-menu {
        display: none;
        background-color: #f3f1f1;
        position: absolute;
        z-index: 9999;
        top: 38px;
    }

    #user-menu ul.menu li a {
        border-right: none;
    }

    #user-menu ul.menu li a:hover {
        background-color: #cccccc;
    }

    /* SEARCH */

    #block-search-form .content {
        display: flex;
        justify-content: flex-end;
    }

    #search-block-form, #search-block-form .form-submit {
        display: none;
    }

    #search-block-form .form-text {
        top: 4px;
    }

    #search-control {
        display: block;
        height: 36px;
        min-width: 36px;
        background: #f3f1f1 url(../images/search-icon.png) 3px no-repeat;
        cursor: pointer;
        background-size: 28px;
        margin-left: 4px;
    }

}
