/* HTML
--------------------------------------------------------------------------*/
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.0em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h1.title {
    margin-bottom: 0.6em;
}

h2 {
    font-size: 24px;
}

.container_12 {
    padding: 0 10px;
}

#page {
    margin-top: 1em;
}

.page-inner {
    background: #fff;
}

p {
    padding-bottom: 10px;
}

td {
    padding: 5px;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

/* HEADER
--------------------------------------------------------------------------*/

.header-wrapper-inner {
    padding: 15px 0 20px 0;
}

header {
    width: 100%;
}

h1.site-name, h2.site-name {
    line-height: 48px;
    font-size: 48px;
    text-shadow: 1px 1px #ffffff;
    text-transform: none;
}

h3.site-slogan {
    text-shadow: 1px 1px #ffffff;
}

.region-headerad .block {
    float: left;
}

/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.site-logo img {
    width: 100%;
    max-width: 700px;
}

/* SLIDESHOW
--------------------------------------------------------------------------*/
.view-slideshow .views_slideshow_main {
    position: relative;
    height: 400px;
}

.view-slideshow .views_slideshow_main .views-field-field-image {
    position: absolute;
    top: -20px;
    left: -20px;
}

.view-slideshow .views_slideshow_main .views-field-field-video {
    position: absolute;
    top: -20px;
    left: -20px;
}

.view-slideshow .views_slideshow_main .views-field-field-image img {
    display: block;
    max-width: none;
}

.view-slideshow .views_slideshow_main .views-field-title {
    position: absolute;
    padding: 20px;
    width: 578px;
    top: -20px;
    left: -20px;
    background: url(../images/trans.png);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.view-slideshow .views_slideshow_main .views-field-title a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.view-slideshow .views_slideshow_main .views-field-body {
    position: absolute;
    height: 50px;
    width: 578px;
    padding: 20px;
    top: 290px;
    left: -20px;
    background: url(../images/trans.png);
    color: #ffffff;
}

.view-slideshow .views_slideshow_main .views-field-body a {
    color: #ffffff;
}

/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    opacity: 0.5;
    border: 1px solid #333333;
    box-shadow: 0 1px 3px #999999;
}

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img:hover, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img:hover {
    opacity: 1;
    border: 1px solid #000
}

.view-slideshow .views-slideshow-controls-bottom .active .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .active .views-field-field-video img {
    opacity: 1;
}

.view-slideshow .views-slideshow-controls-bottom #views_slideshow_pager_field_item_bottom_slideshow-block_5 .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom #views_slideshow_pager_field_item_bottom_slideshow-block_5 .views-field-field-video img {
    margin-right: 0;
}

.view .pager {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
}

/* override module defaults */
.views-slideshow-pager-fields > div {
    padding-left: 0;
}

/* IMAGE FIELD CAPTION
--------------------------------------------------------------------------*/
.view blockquote.image-field-caption, .node-teaser blockquote.image-field-caption {
    display: none;
    visibility: hidden;
}

/* PREFACE
--------------------------------------------------------------------------*/

.preface-wrapper .views-row {
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

.preface-wrapper .views-row .views-field-field-image img {
    display: block;
    float: left;
    margin-right: 10px;
    border: 5px solid #ffffff;
}

.preface-wrapper .attachment {
    padding: 10px 10px 0 10px;
    background: #f9f9f9;
}

.preface-wrapper .attachment .views-row {
    padding: 5px 0;
    background: 0;
    border-bottom: 1px dotted #999;
}

.preface-wrapper .attachment .views-row-last {
    border-bottom: 0 dotted #999;
}

.preface-wrapper .attachment .views-row a {
    font-weight: normal;
    font-size: 1em;
}

.preface-wrapper .block .content {
    background: #f3f1f1;
}

.preface-wrapper .content {
    padding: 5px 0 10px 0;
    color: #999999;
}

.preface-wrapper .block-inner h3.title {
    font-size: 1.6em;
}

.preface-wrapper .block-inner .views-field-title h3 {
    line-height: 1.3em;
    margin-bottom: 3pt;
}

.preface-wrapper .block-inner .views-field-body p {
    padding-bottom: 0;
}

.preface-wrapper .block-inner .views-field-field-dateline {
    font-family: "Lato";
    font-size: 0.8em;
    font-style: italic;
}

/* MAIN CONTENT
--------------------------------------------------------------------------*/

.front .main-content-wrapper {
    margin-top: 10px;
}

#main-content .block-inner, #preface .block-inner, h1#page-title {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-bottom: 3px solid #111111;
    background: #ffffff;
}

#main-content #block-system-main .block-inner {
    padding: 0 20px 20px;
}

#main-content #block-system-main .block-inner {
    padding: 0 20px 20px;
}

article .field-image {
    margin-bottom: 1em;
}

/* SIDEBARS
--------------------------------------------------------------------------*/
.sidebar .content {
    padding: 0;
    color: #999999;
}

.sidebar h3 {
    font-size: 1.5em;
}

.sidebar .block-inner h3.title {
    font-size: 1em;
}

/* weather block in sidebar */
#block-block-1 .block-inner {
    padding: 0;
    border-style: none;
    border-width: 0;
    box-shadow: none;
}

/* POSTSCRIPT
--------------------------------------------------------------------------*/

#postscript {
    color: #dddddd;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#postscript a {
    color: #dddddd;
    font-weight: normal;
    text-shadow: -1px -1px #000000;
}

.postscript-wrapper {
    padding: 1em;
    margin: 0;
    background: url(../images/postscript-bg.png);
}

/* override widths for .grid_3 in footer */
.container_12 .postscript-wrapper .grid_4 {
    width: inherit;
}

.postscript-wrapper .block-inner {
    padding: 0;
}

.postscript-wrapper .content {
    padding: 0;
}

.postscript-wrapper h3 {
    display: block;
    margin-bottom: 0.3em;
    line-height: 1.4em; /* for titles that go to second line */
}

.postscript-wrapper h3 span {
    padding-right: 5px;
    color: #999999;
}

/* override default styles for user menu in postscript */
#postscript .block-menu-block ul.menu li {
    padding-left: 0 !important;
    list-style-type: none !important;
}

#postscript .item-list ul li {
    padding: 3px 0;
    margin-left: 10px;
    list-style-position: outside;
    list-style-type: square;
    color: #999999;
    border-bottom: 1px dotted #555555;
    text-transform: uppercase;
}

#postscript .item-list ul li.last {
    border-bottom: 0 dotted #555555;
}

#block-etype-follow .content div {
    background-size: 16px;
}

#block-etype-follow .content div > a {
    margin-left: 1.7em;
}

/* title in first column of postscript */
.region-postscript-1 h3.title {
    margin-left: 0;
}

/* hide Show Menu link in postscript */
.region-postscript-2 #block-menu-block-2 .menu li.first {
    display: none;
    visibility: hidden;
}

/* menus in postscript */
#postscript .block-menu-block ul.menu li {
    float: left;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: circle;
    list-style-image: none;
    list-style-position: inside;
}

/* font */
#postscript p, #postscript a {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

#postscript p a {
    font-size: 1em;
}

/* full width area in postscript */
.region-postscript-banner {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

/* FOOTER
--------------------------------------------------------------------------*/
.region-footer {
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
}

/* LISTS
--------------------------------------------------------------------------*/

.item-list ul {
    margin-left: 20px;
}

.item-list ul li span {
    display: inline;
    font-size: 1.0em;
    padding: 0;
}

.item-list ul li {
    padding: 5px 0;
    margin-bottom: 1em;
    list-style-position: outside;
    list-style-type: square;
    color: #000;
}

.item-list ul li.last {
    border-bottom: 0 dotted #999999;
}

.item-list ul li a {
    padding: 0 5px;
    font-weight: bold;
}

.view-popular .item-list ul li {
    list-style-type: decimal;
}

/* normalize lists on Basic Pages and Articles */
.content .node-page ul, .content .node-article ul {
    margin: 0 0 1em 1em;
    list-style: disc outside;
}

/* USER MENU
--------------------------------------------------------------------------*/
.region-user-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.6em;
    background-color: #f3f1f1;
}

#user-menu {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#user-menu ul.menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#user-menu ul.menu li {
    float: none;
}

#user-menu ul.menu li a {
    display: block;
    line-height: 36px;
    font-size: 11px;
    padding: 0 12px;
    text-transform: uppercase;
    border-right: 1px solid #dddddd;
    color: #111111;
}

#user-menu ul.menu li.last a {
    border-right: none;
}

#user-menu ul.menu li a:hover {
    background: #f3f1f1;
    text-decoration: none;
}

/* User Menu Drop Down */
#user-menu ul.menu li ul {
    position: absolute;
    padding: 0;
    margin: 1px 0 0 0;
    width: 200px;
    left: -999em;
    z-index: 100;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 3px #ddd;
}

#user-menu ul.menu li:hover ul, #user-menu ul.menu li.sfHover ul {
    left: auto;
}

#user-menu ul.menu li li {
    border-bottom: 1px solid #dddddd;
}

#user-menu ul.menu li li.last {
    border-bottom: 0 solid #dddddd;
}

#user-menu ul.menu li li a, #user-menu ul.menu li li a.active {
    width: 160px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    border: 0;
}

#user-menu ul.menu li li a:hover, #user-menu ul.menu li li a.active:hover {
    background: #f3f1f1;
}

#main-menu ul.menu li ul ul {
    margin: -25px 0 0 200px;
}

#user-menu ul.menu li:hover ul ul, #user-menu ul.menu li.sfHover ul ul, #user-menu ul.menu li:hover ul ul ul, #user-menu ul.menu li.sfHover ul ul ul, #user-menu ul.menu li:hover ul ul ul ul, #user-menu ul.menu li.sfHover ul ul ul ul {
    left: -999em;
}

#user-menu ul.menu li li:hover ul, #user-menu ul.menu li li.sfHover ul, #user-menu ul.menu li li li:hover ul, #user-menu ul.menu li li li.sfHover ul, #user-menu ul.menu li li li li:hover ul, #user-menu ul.menu li li li li.sfHover ul {
    left: auto;
}

#user-menu ul.menu li li.expanded, #user-menu ul.menu li li li.expanded {
    background: 0;
}

/* for sites with user menu below main menu in .region-main-menu */
#main-menu #block-system-user-menu {
    background-color: #ffffff;
    width: 100%;
    height: 27px;
    border-bottom: 1px solid black;
}

#main-menu #block-system-user-menu .content {
    margin: 0 auto;
}

#main-menu #block-system-user-menu ul.menu li {
    height: 27px;
}

#main-menu #block-system-user-menu ul.menu li a {
    font-size: 0.8em;
}

#main-menu #block-system-user-menu ul.menu li a {
    color: #333333;
    height: 27px;
    line-height: 27px;
}

/* MAIN MENU
--------------------------------------------------------------------------*/

#main-menu {
    position: relative;
}

#main-menu h3 {
    display: none;
}

#main-menu ul.menu {
    display: flex;
    justify-content: space-around;
    height: 100%;
    min-height: 33px;
    max-height: 85px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

#main-menu ul.menu li a {
    display: block;
    color: #ffffff;
    padding: 0 12px;
    text-transform: uppercase;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
}

#main-menu ul.menu li a:hover {
    color: #333333;
    background: #f3f1f1;
    text-decoration: none;
}

#main-menu ul.menu li a.active {
    color: #222222;
    background-color: #f3f1f1;
}

#main-menu ul.menu li ul li a {
    font-size: 13px;
}

/* Main Menu custom styling */
#block-superfish-1, .sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
    background: #000000;
    font-size: inherit;
}

#block-superfish-1 .block-inner {
    width: 100%;
}

#block-superfish-1 .content {
    margin: 0 auto;
}

/* MAIN MENU SECOND LEVEL
--------------------------------------------------------------------------*/

#main-menu-second-level h3 {
    display: none;
}

#main-menu-second-level ul.menu {
    display: block;
    height: 25px;
    margin: 0;
    background: #333333;
}

#main-menu-second-level ul.menu li {
}

#main-menu-second-level ul.menu li a {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    padding: 0 20px;
    text-shadow: -1px -1px #111111;
}

#main-menu-second-level ul.menu li a:hover {
    background: #222222;
    text-decoration: none;
}

/* Main Menu Second Level Drop Down */

#main-menu-second-level ul.menu li ul {
    position: absolute;
    padding: 0;
    margin: 1px 0 0 0;
    width: 200px;
    left: -999em;
    z-index: 100;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 3px #ddd;
}

#main-menu-second-level ul.menu li:hover ul, #main-menu-second-level ul.menu li.sfHover ul {
    left: auto;
}

#main-menu-second-level ul.menu li li {
    border-bottom: 1px solid #dddddd;
}

#main-menu-second-level ul.menu li li.last {
    border-bottom: 0 solid #dddddd;
}

#main-menu-second-level ul.menu li li a, #main-menu-second-level ul.menu li li a.active {
    width: 160px;
    padding: 0 20px;
    margin: 0;
    font-size: 0.9em;
    border: 0;
    color: #333333;
    text-shadow: 1px 1px #ffffff;
}

#main-menu-second-level ul.menu li li a:hover, #main-menu-second-level ul.menu li li a.active:hover {
    background: #f3f1f1;
    font-size: 0.9em;
}

#main-menu-second-level ul.menu li ul ul {
    margin: -25px 0 0 200px;
}

#main-menu-second-level ul.menu li:hover ul ul, #main-menu-second-level ul.menu li.sfHover ul ul, #main-menu-second-level ul.menu li:hover ul ul ul, #main-menu-second-level ul.menu li.sfHover ul ul ul, #main-menu-second-level ul.menu li:hover ul ul ul ul, #main-menu-second-level ul.menu li.sfHover ul ul ul ul {
    left: -999em;
}

#main-menu-second-level ul.menu li li:hover ul, #main-menu-second-level ul.menu li li.sfHover ul, #main-menu-second-level ul.menu li li li:hover ul, #main-menu-second-level ul.menu li li li.sfHover ul, #main-menu-second-level ul.menu li li li li:hover ul, #main-menu-second-level ul.menu li li li li.sfHover ul {
    left: auto;
}

#main-menu-second-level ul.menu li li.expanded, #main-menu-second-level ul.menu li li li.expanded {
    background: 0;
}

/* theme default mobile menu */
#mm0 {
    display: none;
    visibility: hidden;
}

/* SIDE MENU
--------------------------------------------------------------------------*/

/* CONTENT TOP & CONTENT BOTTOM
--------------------------------------------------------------------------*/

/* NODES
--------------------------------------------------------------------------*/

.node .field-name-field-image img {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto
}

.node .field-name-field-video iframe {
    display: block;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 10px;
}

.node .content a {
    color: #333;
}

.node ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 5px 0 0;
}

.node ul.links li a {
    font-weight: bold;
    padding: 0 5px 0 5px;
    font-size: 0.9em;
    background: #f3f1f1;
}

.node ul.links li.node-readmore a {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.node .taxonomy .field-type-taxonomy-term-reference {
    margin: 5px 0;
    background: #f9f9f9;
}

.node .taxonomy a {
    color: #000;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Teasers */

.node-teaser {
    margin-bottom: 20px;
}

.node-teaser h2.title {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 0.2em;
}

.node-teaser .field-image .field-name-field-image .field-items .field-item {
    display: none;
}

.node-teaser .field-image .field-name-field-image .field-items .field-item:first-child {
    display: block;
}

.node-teaser .field-image .field-name-field-image .field-items .field-item:first-child img {
    display: block;
    padding: 10px;
    float: left;
    margin: 0 7px 7px 0;
    background: url(../images/image-background.png);
    width: auto;
}

.node-teaser .field-name-field-video iframe {
    display: block;
    padding: 10px;
    float: left;
    margin: 0 20px 0 0;
    background: url(../images/image-background.png);
}

.node-teaser .links, .node-teaser .content, .node-teaser p, .node-teaser .field, .node-teaser .field-items, .node-teaser .field-item {
    display: inline;
}

/* COMMENTS
--------------------------------------------------------------------------*/

#comments h2 {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#comments .comment {
    padding: 10px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dddddd;
}

#comments .user-picture img {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
}

#comments .submitted {
    display: block;
    margin-left: 60px;
}

#comments .submitted a {
    font-weight: bold;
}

#comments .content {
    display: block;
    margin-left: 60px;
}

#comments .links {
    display: block;
    float: right;
    margin-left: 60px;
    text-transform: uppercase;
    font-size: 0.8em;
}

#comments .indented {
    margin-left: 0;
    margin-bottom: 20px;
    background: #f9f9f9;
}

#comments .indented .comment {
    padding: 10px;
    margin-left: 0;
    margin-bottom: 0;
    background: #f9f9f9;
    border-bottom: 0;
}

/* BREADCRUMBS
--------------------------------------------------------------------------*/

/* SEARCH FORM
--------------------------------------------------------------------------*/

#block-search-form {
    padding: 0 8px;
    flex-grow: 2;
}

#search-block-form {
    margin-top: 0;
    background: 0;
    line-height: 25px;
    float: right;
}

#search-block-form h2, #search-block-form label {
    display: none;
}

#search-block-form .form-item, #search-block-form .form-actions {
    margin-bottom: 0;
    margin-top: 0;
}

#search-block-form .form-text, #search-block-form .form-submit {
    padding: 0;
    margin: 0;
    border: 0;
    background: 0;
    vertical-align: middle;
}

#search-block-form .form-submit {
    display: inline-block;
    width: auto;
    height: 36px;
    font-size: 11px;
    padding: 0 5px;
    border-radius: 0;
    text-transform: uppercase;
    background: 0;
    font-weight: normal;
}

#search-block-form .form-text {
    padding: 0;
    color: #999999;
    font-style: italic;
    background-color: #ffffff;
    position: relative;
    top: 1px;
}

#search-block-form input:focus {
    box-shadow: 0 0 0 0 #22d7cc;
}

#search-form .archive_message {
    padding-top: 21px;
    font-style: italic;
}

#search-control {
    display: none;
}

/* SOCIAL
--------------------------------------------------------------------------*/

ul.social-links {
    padding: 0;
    margin: 0;
    height: 36px;
}

.social-links li {
    display: block;
    float: left;
    list-style: none;
}

.social-links li a {
    display: block;
    width: 40px;
    height: 36px;
    background-size: 35px;
    position: relative;
    top: 2px;
}

.facebook {
    background: url(../images/facebook.png) no-repeat;
}

.rss {
    background: url(../images/feed-icon.png) no-repeat;
}

.twitter {
    background: url(../images/twitter.png) no-repeat;
}

.pinterest {
    background: url(../images/pinterest.png) no-repeat;
}

.instagram {
    background: url(../images/instagram.png) no-repeat;
}

.googleplus {
    background: url(../images/googleplus.png) no-repeat;
}

/* MISC
--------------------------------------------------------------------------*/

.breadcrumb {
    margin-bottom: 20px;
    margin-left: 2px;
    font-size: 1.0em;
    padding-bottom: 0;
    text-transform: uppercase
}

.breadcrumb a {
    font-weight: bold;
}

.more-link {
    margin-top: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
}

ul.primary {
    border-bottom: 0 solid #DDDDDD;
    border-collapse: collapse;
    height: auto;
    line-height: 1em;
    list-style: none outside none;
    margin: 5px 0;
    padding: 0 0 20px 3px;
    white-space: nowrap;
}

ul.primary li a {
    background-color: #DDDDDD;
    border-color: #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    height: auto;
    margin-right: 3px;
    padding: 5px 1em;
    text-decoration: none;
}

.profile {
    clear: both;
    margin: 0;
}

.profile .user-picture {
    float: none;
    margin: 0 0 1em 0;
}

/* QUICKTABS
--------------------------------------------------------------------------*/

body #main-content .quicktabs-wrapper .block-inner {
    padding: 0;
    margin-bottom: 0;
    border: 0 solid #dddddd;
    border-bottom: 0 solid #000;
    background: 0;
    box-shadow: 0 0 0 #bbbbbb;
}

.quicktabs_main.quicktabs-style-nostyle {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    clear: both;
}

ul.quicktabs-tabs.quicktabs-style-nostyle {
    border-bottom: 1px solid #aaa;
    padding: 0 5px 0 0;
    font: bold 12px/19px Verdana !important;
    font-weight: bold;
    height: 19px;
    margin: 0;
}

ul.quicktabs-tabs.quicktabs-style-nostyle a {
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    color: #aaa;
}

ul.quicktabs-tabs.quicktabs-style-nostyle a:hover {
    color: #555;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 2px 3px;
    margin: 0 0 0 0;
    position: relative;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li:hover {
    border: 1px solid #ccc;
    border-bottom: none;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    margin-bottom: -1px;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li.active a {
    color: #000;
}

.quicktabs_main.quicktabs-style-nostyle .item-list li span {
    display: inline;
    font-size: 0.8em;
    padding: 0 10px;
}

.quicktabs_main.quicktabs-style-nostyle .content {
    color: #999999;
    padding: 0 0 0 0;
}

/* VIEWS
--------------------------------------------------------------------------*/

.quicktabs_main.quicktabs-style-nostyle .content {
    color: #999999;
    padding: 0 0 0 0;
}

.field-name-field-mugshot {
    float: left;
    margin-right: 10px;
}

.field-name-field-mug {
    float: right;
}

.field-name-field-subhead {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.field-name-field-kicker {
    border-top: 1px solid #ccc;
    font-style: italic;
}

.field-name-field-dateline {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-right: 8px;
}

.field-name-field-pulled-quote {
    width: 300px;
    min-height: 100px;
    font-size: 18px;
    float: right;
    background-repeat: no-repeat;
    padding-left: 50px;
}

blockquote {
    margin: 0;
    padding: 0;
}

blockquote p {
    padding-right: 1em;
    background: none;
}

.views-slideshow-controls-bottom img {
    float: left;
    margin-right: 10px;
}

#leader {
    margin-top: 30px;
    margin-bottom: -90px;
    padding: 0;
    text-align: center;
    margin-left: 100px;
}

/* PREMIUM CONTENT
--------------------------------------------------------------------------*/
.premium-message {
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

.premium-message a {
    text-decoration: underline;
}

.not-logged-in.node-type-article .view-more-digital, .not-logged-in.node-type-article .links {
    display: none;
    visibility: hidden;
}

/* WEBFORMS
--------------------------------------------------------------------------*/

/* excludes captcha forms by inclusion of .webform-component-fieldset */
.webform-client-form .webform-component-fieldset .fieldset-legend {
    font-family: 'Lato', sans-serif;
    line-height: 1.0em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.6em;
    font-size: 1.2em;
}

.webform-client-form .webform-component-fieldset .fieldset-wrapper {
    margin-left: 0.5em;
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    font-family: 'Lato', sans-serif;
}

/* PAGE
--------------------------------------------------------------------------*/
.not-front.page-node #block-system-main .content .node {
    margin-top: 1em;
}

.not-front.page-node #block-system-main .content .node-teaser {
   margin-top: 0;
}

/* ARTICLE
--------------------------------------------------------------------------*/
.page-node .node-article .field-name-field-dateline {
    float: none;
    display: block;
}

.page-node .node-article .addthis_sharing_toolbox {
    float: right;
}

.page-node .node-article .field-name-body {
    margin-top: 1em;
}

.node-teaser .addthis_sharing_toolbox {
    display: none;
    visibility: hidden;
}

.submitted {
    padding: 5px 0;
    margin-bottom: 10px;
    color: #999999;
    border-bottom: 1px solid #dddddd;
    font: 0.6em "Lato", sans-serif;
    margin-left: 168px;
}

.node-article .submitted {
    margin-left: 0;
}

/* ADVANCED POLL
--------------------------------------------------------------------------*/
#block-advpoll-advpoll-recent h2.title {
    font-size: 1em;
    line-height: 1.3em;
    text-transform: none;
    margin-top: 1em;
}

#block-advpoll-advpoll-recent .submitted {
    display: none;
    visibility: hidden;
}

#block-advpoll-advpoll-recent .content .content {
    padding: 0;
}

#block-advpoll-advpoll-recent .poll-message {
    font: 0.9em/1em 'Lato';
    color: #000;
    margin: 1em 0;
}

/* hide info on webforms */
article.node-webform .node-content-wrapper .submitted span {
    display: none;
    visibility: hidden;
}

article.node-webform .node-content-wrapper h1.title {
    margin-bottom: 0;
}

/* Scoreboard ticker */
#block-views-ticker-block .content {
    background: none;
}

#block-views-ticker-block .liScroll-container .mask {
    top: 0;
}

#block-views-ticker-block .liScroll-container {
    width: 100%;
}

.preface-wrapper #block-views-ticker-block .content {
    margin-top: 0;
    padding: 0;
}

/* Florida Public Legals */
.view-id-legals .view-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* flexslider overrides */
.flexslider {
    font: 0.8em/1.4 lato;
    margin: 0 0 6em 0;
}

.flex-control-nav {
    bottom: -30px;
}

.content .node-page ul.flex-direction-nav,
.content .node-article ul.flex-direction-nav,
ul.flex-direction-nav {
    list-style: none;
}

.content .node-page ul.slides,
.content .node-article ul.slides,
ul.slides {
    margin: 0;
}

/* views-fluid-grid Classifieds */
div.views-fluid-grid {
    margin-bottom: 1em;
}

li.views-fluid-grid-item {
    color: inherit;
    background: none;
    border: none;
}

/* override date.css from date module
 * theme makes class from title which invokes calendar css
 */
.node-type-article.calendar {
    width: inherit;
}