/* Added styles -- not part of theme */

/* Custom Responsive Menu */

ul li.leaf {
    list-style: none;
}

#block-simpleads-ad_groups_71 img {
    margin-left: 115px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 728px;
    height: 90px;
    text-align: center;
}

#block-simpleads-ad_groups_76 img {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 190px
}

#block-simpleads-ad_groups_77 img {
    float: left;
    margin-left: 35px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 400px;
    height: 200px
}

/* sic */
.front #capption, .front #photowithcaption blockquote {
    display: none;
    visibility: hidden;
}

#leaderboard {
    clear: both;
}

.region-leaderboard .blcontent {
    text-align: center;
}

.header-ads .blcontent {
    background-color: #F3F3F3;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#block-simpleads-ad_groups_1587 {
    float: left;
    margin-right: 0;
    clear: none;
    width: 145px;
    height: 115px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

#block-simpleads-ad_groups_1587 img {
    padding-top: 11px;
    padding-left: 5px;
}

#block-block-9 {
    width: 190px;
    float: left;
    clear: none;
    height: 115px;
}

#block-dfp-haysleaderboard iframe {
    margin-left: -55px;
}

#header {
    background: #ffffff;
}