/* logo */
.site-logo {
    width: 100%;
    margin: 0 auto;
    max-width: 680px;
}

.site-logo img {
    width: 100%;
    max-width: 680px;
}

/* main-menu background-color */
#block-superfish-1 {
    background-color: #094385;
}

.sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
    background: #094385;
}

/* SIMPLE ADS
--------------------------------------------------------------------------*/


/* Google DFP Ads
--------------------------------------------------------------------------*/

/* hide info on webforms */
article.node-webform .node-content-wrapper .submitted span {
    display: none;
}

article.node-webform .node-content-wrapper h1.title {
    margin-bottom: 0;
}

/* wide desktop browsers */
@media only screen and (min-width: 959px) {

    /* main menu */
    #block-superfish-1 .content {
        width: 221px;
    }

}

/* desktop browsers */
@media only screen and (min-width: 768px) and (max-width: 958px) {

    /* main menu */
    #block-superfish-1 .content {
        width: 182px;
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {

}
