<div id="localhero-widget">
  <div class="localhero-header">
    <h3><a href="http://mylocal.grahamleader.com" target="_blank">Explore Graham</a></h3>
  </div>
  <div class="widget-section" id="ownlocal-search-form">
    <div class="localhero-subtitle">Search Businesses</div>
    <div class="search-form">
      <form target="_blank" action="http://mylocal.grahamleader.com/search">
        <input type="text" name="query" id="ownlocal-custom-search-field" class = "text" value="Search by keyword or Zip" />
        <div class="search-icon">
          <svg fill="#cccccc" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
        </div>
      </form>
    </div>
  </div>
  <div class="businesses-container">
    <span class="localhero-subtitle">Featured Businesses</span>
    <div id="ownlocal-business-list">
      <ul>
        <li> Loading... </li>
      </ul>
    </div>
    <ul id="ownlocal-business-list-template">
      <li>
        <a target="_blank" class="ownlocal-business-link"></a>
        <div class="ownlocal-business-popup-info">
          <h4><a target="_blank" href="#">Business Name</a></h4>
          <p>address<br/>Location, ST | <a href="#">website.com</a></p>
        </div>
      </li>
    </ul>
    <ul class="add-your-business">
      <a target="_blank" href="http://mylocal.grahamleader.com/#add_business">
        <li>Add Your Business</li>
      </a>
    </ul>
  </div>
  <div id="ownlocal-dropdown">
    <div class="dropdown-container">
      <div class="dropdown-button">
        <a>GRAHAM ATTRACTIONS</a>
      </div>
      <ul>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/nightlife/bars">Graham Bars</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/restaurants/">Restaurants</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/beauty-and-wellness/beauty-shop">Beauty Salons</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/arts-and-entertainment">Entertainment in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/medical/physicians">Doctors</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/medical/medical-specialists">Medical Specialists</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/services/contractor">Contractors</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/construction">Construction</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/education/">Education in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/lawn-and-garden/lawn-care">Lawn Services</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/legal/attorneys">Lawyers in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/shopping">Shopping in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/travel">Travel to Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/beauty-and-wellness/tanning">Tanning in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/auto/used-auto-dealer">Used Cars in Graham</a></li>
        <li><a target="_blank" href="http://mylocal.grahamleader.com/graham-TX/wedding-and-party">Wedding Services</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- This loads the business list -->
<!-- Publisher may or may not need 'widget.' subdomain at the beginning of this url -->
<script src="http://widget.mylocal.grahamleader.com/widget/json/featured_business_list?callback=ownlocal_insert_business_list&include_ads=1&limit=5&level=1"></script>

      
